---
---

@import "{{ site.theme }}";

.page-header {
  background-image: linear-gradient(120deg, rgba(21, 153, 87, 0.6), rgba(21, 87, 153, 0.6)), url(/assets/images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 100%;
}
