---
---

@import "{{ site.theme }}";

.page-header {
  background-image: linear-gradient(120deg, rgba(21, 153, 87, 0.7), rgba(21, 87, 153, 0.7)), url(/assets/image/background.jpg);
  background-repeat: no-repeat;
  background-position: center, cover;
}
